/* Regole Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #0A4C95 #C2D2E4;
}
    /* Inizio Scrollbar Edge/Chrome */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #0A4C95;
}
    /* Fine Scrollbar Edge/Chrome */

#root {
    height: 100vh;
    background: linear-gradient(180deg, #1d9688 20%, #dadbd4 0%);
    padding-top: 2.5%;
}

#container {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    height: 95%;
    display: flex;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.icona-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.fa-solid {
    color: #b1b1b1;
    font-size: 1.1rem;
}

a {
    color: #578194;
}

/* Regole Aside */
aside {
    display: inline-block;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

    /* Nome Utente */
.nome-utente {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px 0;
}

.nome-utente div {
    display: flex;
    align-items: center;
}

.avatar {
    padding-left: 10px;
}

.avatar span {
    padding-left: 10px;
    font-weight: 600;
}

.icone {
    margin-right: 10px;
}

.icone i {
    padding: 0 10px;
}

    /* Notifiche */
.notifiche {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}

.bell {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.bell i {
    line-height: 50px;
    color: #8edafc;
    font-size: 1.5rem;
}

.notifications-text {
    width: calc(100% - 60px);
    padding-left: 10px;
}

.notifications-text h3 {
    font-size: 0.8rem;
}

.notifications-text a {
    font-size: 0.75rem;
}

    /* Ricerca */
.ricerca {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ricerca input {
    border: none;
    border-radius: 2px;
    width: 95%;
    height: 30px;
    padding-left: 50px;
}

.ricerca i {
    position: absolute;
    left: 8%;
    top: 30%;
    font-size: 1.2rem;
}

    /* Contatti */
.contatti {
    overflow-y: auto;
    padding-bottom: 5px;
}

.contatto {
    background-color: white;
    display: flex;
    padding: 10px 0;
    width: 95%;
    border: 1px solid #e9ebeb;
}

.text-contacts {
    padding-left: 20px;
    width: calc(100% - 60px);
    position: relative;
}

.text-contacts h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.text-contacts p {
    color: #b6b9bb;
    font-size: 0.8rem;
    padding-top: 2px;
}

.last-message {
    position: absolute;
    right: 10px;
    top: 0;
    color: #b6b9bb;
    font-size: 0.6rem;
}
/* Regole Main */
main {
    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: white;
}

    /* Info */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #eaeaea;
    border-left: 1px solid #b6b9bb;
    height: 70px;
}

.info .avatar {
    display: flex;
    align-items: center;
}

.contact-details {
    width: 240px;
    padding-left: 10px;
    line-height: 0.8rem;
}

.contact-details h3 {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-top: 5px;
}

.contact-details span {
    font-size: 0.8rem;
    color: #70787b;
    padding-left: 0;
    font-weight: 100;
}

    /* Messaggi */
.messaggi {
    width: 98%;
    height: calc(100% - 130px);
    background-image: url(img/mine.jpg);
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sent {
    align-self: flex-end;
}

.received {
    align-self: flex-start;
}

.messaggi div {
    padding: 0 10px;
    margin: 5px 0;
}

.messaggi div p {
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    min-width: 200px;
    position: relative;
}

.sent p {
    background-color: #d5f9ba;
}

.received p {
    background-color: white;
}

.messaggi span.last-message {
    top: 72.5%;
    right: 5px;
}

i.fa-angle-down {
    display: none;
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 0.7rem;
    padding: 5px;
    cursor: pointer;
}

.messaggi div p:hover i.fa-angle-down{
    display: block;
}

    /* Invio */
.invio {
    background-color: #f3eeea;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.invio i {
    font-size: 1.5rem;
    color: #6b7377;
}

.invio input {
    height: 80%;
    width: 85%;
    padding-left: 10px;
    border: none;
    border-radius: 2px;
}