/* Regole Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    background: linear-gradient(180deg, #1d9688 18%, #dadbd4 0%);
    padding-top: 2.5%;
}

#container {
    width: 70%;
    min-width: 600px;
    margin: 0 auto;
    height: 95%;
    border: 1px solid black;
}